$fontFamily: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

.terms {
  font-family: $fontFamily;
  color: black;
  font-size: 14px;
  line-height: 18px;
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;
  * { font-family: $fontFamily; color: black; }
  h1 { font-size: 14px; line-height: 18px; margin: 18px 0 18px 0; text-transform: uppercase; padding-bottom: 18px; border-bottom: 1px solid black; }
  h2 { font-size: 14px; line-height: 18px; margin: 0 0 18px 0; }
  h3 { font-size: 14px; line-height: 18px; margin: 0 0 18px 0; font-weight: normal; font-style: italic; }
  p, li { font-size: 14px; line-height: 18px; margin: 0 0 18px 0; }
}

@media screen and (min-width:  1024px) {
  .terms {
    max-width: 920px;
    font-size: 16px;
    line-height: 20px;
    h1 { font-size: 16px; line-height: 20px; margin-bottom: 20px; padding-bottom: 20px; }
    h2 { font-size: 16px; line-height: 20px; margin-bottom: 20px; }
    h3 { font-size: 16px; line-height: 20px; margin-bottom: 20px; }
    p, li { font-size: 16px; line-height: 20px; margin-bottom: 20px; }
  }
}
