.section {
  background-color: #2c3bdd;
}

.count {
  font-size: 3rem;
  font-weight: bold;

  &::after {
    content: ' +';
    color: var(--qc-color-dark-gold);
  }
}

.description {
  color: var(--qc-color-light-blue);
}
