.paymentPlanButton {
  --bs-btn-color: #506172;
  --bs-btn-border-color: #506172;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #506172;
  --bs-btn-hover-border-color: #506172;
  --bs-btn-focus-shadow-rgb: 80, 97, 114;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #506172;
  --bs-btn-active-border-color: #506172;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #506172;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #506172;
  --bs-gradient: none;

  @media only screen and (min-width: 768px) {
    --bs-btn-bg: rgba(0, 0, 0, 0.5);
    // --bs-btn-color: #d9e5f1;
    --bs-btn-color: white;
    --bs-btn-border-color: #d9e5f1;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d9e5f1;
    --bs-btn-hover-border-color: #d9e5f1;
    --bs-btn-focus-shadow-rgb: 217, 229, 241;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d9e5f1;
    --bs-btn-active-border-color: #d9e5f1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #d9e5f1;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d9e5f1;
    --bs-gradient: none;
  }

  @media only screen and (min-width: 992px) {
  --bs-btn-bg: rgba(0, 0, 0, 0.375);
  }
}
