.subtitle {
  color: var(--qc-color-light-gold);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.25rem;
  text-shadow: none !important;
}
